@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Fondamento&family=Georama&display=swap');

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
* Prefixed 22.08.2021
*/

#main-block {
  min-height: 45vh;
}

div.wrapper {
  min-height: calc(100vh - 80px);
}

p {
  line-height: 2rem;
  text-align: justify;
}

div.faq-info p {
  font-family: 'Georama', sans-serif;
}

/*
================================================================================
========================== Materialize Buttons Styling =========================
================================================================================
*/

.button-collapse {
  color: #ee6e73;
}

.btn-close:hover {
  background-color: #78909c !important;
}

.btn-edit:hover {
  background-color: #1e88e5 !important;
}

.btn-delete:hover {
  background-color: #c62828 !important;
}

.edit-link:hover {
  color: #3d5afe !important;
}

.btn-small {
  margin: 2px 2px;
  /* min-width: 50px; */
}

.email-send {
  color: #006064;
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.email-send:hover {
  color: #037b80 !important;
}

input#submit.waves-button-input {
  color: #f1f8e9;
}

.email-delete {
  color: rgb(136, 5, 5);
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.email-delete:hover {
  color: #a8063d !important;
}

/*
================================================================================
========================== Materialize Parallax Styling ========================
================================================================================
*/

.parallax-container {
  /* min-height: 200px; */
  /* max-height: auto; */
  line-height: 0;
  height: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.parallax-container .section {
  width: 100%;
}

/* Style parallax images */
.parallax img {
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-container {
  color: black;
}

/*
================================================================================
=========================== Materialize Navbar Styling =========================
================================================================================
*/

nav a.button-collapse {
  color: black;
}

.purple.lighten-1 {
  background-color: #CC0066 !important;
}

.teal-text.text-lighten-2 {
  color: #CC0066 !important;
}

.share-buttons {
  list-style: none;
}

.share-buttons li {
  display: inline;
}

nav {
  overflow: visible;
}

nav ul a,
nav .brand-logo {
  color: #444;
  font-size: 1.1em;
}

nav li a {
  -webkit-transition: background .3s ease-in-out;
  -o-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
}

.table-of-contents a {
  display: inline-block;
  font-weight: 300;
  color: #757575;
  padding-left: 16px;
  height: 1.5rem;
  line-height: 1.5rem;
  letter-spacing: .4px;
  display: inline-block;
}

/***************************** Social Icon styling ****************************/

.icon-block {
  padding: 0 15px;
}

.social-icon {
  color: #ffab91;
  text-shadow: 1px 2px 5px rgba(.76, .74, .74, .64);
  /* margin-right: 10px; */
}

.social-icon:hover {
  color: #ffecb3;
}

.info-icon-med-up {
  font-size: 2.92rem;
  margin-top: 29px;
  color:#333;
}
.info-icon-sm {
  font-size: 2rem;
  margin-top: 29px;
  color:#333;
}

/******************************* Footer Styling *******************************/

footer.page-footer {
  padding-top: 0;
  margin: 0;
  background-color: #ef5350;
  /* background-color: #ee6e73; */
}

.page-footer .footer-copyright {
  overflow: hidden;
  min-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 10px 0px;
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(51, 51, 51, 0.08);
}

ul.share-buttons {
  margin-right: 20px;
  color: #efefef
}

.footer-card {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/*
================================================================================
======================= Materialize Collapsible  Styling =======================
================================================================================
*/

.collapsible {
  border: 1px solid #c1ad0f;
}

.collapsible-header {
  color: rgb(245, 243, 243);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.062);
  background-color: #aa8d30;
  border: 1px solid #c1ad0f;
  line-height: 1.2rem;
}

.keyboard-focused .collapsible-header:focus {
  background-color: #aa8d30!important;
  border: 1px solid #c1ad0f;
}

/* .collapsible li:active .collapsible-header:focus {
  border-bottom: 2px solid red;
} */

.collapsible .row {
  margin-bottom: 0;
}

.collapsible-heading {
  font-size: 1.2em;
  font-weight: 400;
  vertical-align: middle;
}

/************************* Collapsible Rotating Caret  ************************/

li .collapsible-header {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

li .collapsible-header .caret {
  color: #fff;
  margin-right: 0;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  -o-transition: transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

li.active .collapsible-header .caret {
  color: #ffab91;
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
  -webkit-transform-origin: 0.6em 0.5em;
  -ms-transform-origin: 0.6em 0.5em;
  transform-origin: 0.6em 0.5em;
}

.collapsible-body {
  background-color: #ffffff;
  border-top: 1px solid #c1ad0f;
}

.almanac-plant,
.almanac-event {
  background-color: #ffffff;
  padding: 10px;
  border: 1px solid rgb(231, 230, 230);
}

/*
================================================================================
========================= Materialize Collection Styling =======================
================================================================================
*/

.collection {
  margin: .5rem 0 1rem 0;
  border: 1px solid #e0e0e087;
  border-radius: 2px;
  overflow: hidden;
  position: relative;
}

.collection a.collection-item {
  display: block;
  -webkit-transition: .25s;
  -o-transition: .25s;
  transition: .25s;
  color: #051a12;
}

.collection .collection-item {
  background-color: #f9fbe736;
  line-height: 1.5rem;
  padding: 10px 20px;
  margin: 0;
  border-bottom: 1px solid #d4e1578f;
}

.collection a.collection-item:not(.active):hover {
  background-color: #ecf0c48a;
}

.collection li:hover {
  -webkit-transition: .25s;
  -o-transition: .25s;
  transition: .25s;
  background-color: #ecf0c4;
}

/********************************** Font Styling ******************************/

.px-dark-red {
  color: #602c25
}

.text-shadow {
  text-shadow: 1px 2px #000000;
}

.sidenav-trigger i {
  color: #000000;
}

.brand-logo {
  margin-left: 20px;
}

/* 
================================================================================
================================ Material Alerts ===============================
================================================================================ 
*/
/* Materialert based on https://github.com/Rinebeck/materialert */
/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.materialert {
  position: relative;
  min-width: 150px;
  padding: 15px;
  margin: 0px auto 0px;
  font-size: 22px;
  border: 1px solid transparent;
  border-radius: 2px;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.materialert .icons {
  margin-right: 10px;
}

.materialert .close-alert {
  -webkit-appearance: none;
  border: 0;
  cursor: pointer;
  color: inherit;
  background: 0 0;
  font-size: 22px;
  line-height: 1;
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .7);
  filter: alpha(opacity=40);
  margin-bottom: -5px;
  position: absolute;
  top: 14px;
  right: 5px;
}

/**************************** Custom Alert Messages ***************************/
.materialert.default {
  background-color: rgba(255, 255, 255, 0.9);
}

.materialert.info {
  background-color: rgba(3, 155, 229, 0.8);
  color: #fff;
}

.materialert.success {
  background-color: rgba(67, 160, 71, 0.8);
  color: #fff;
}

.materialert.error {
  background-color: rgba(198, 40, 40, 0.8);
  color: #fff;
}

.materialert.danger {
  background-color: rgba(198, 40, 40, 0.8);
  color: #fff;
}

.materialert.warning {
  background-color: rgba(251, 192, 45, 0.8);
  color: #fff;
}

.form-error {
  color: rgba(198, 40, 40, 0.8);
}

ul.form-error {
  margin-top: 0;
  padding-top: 0;
}

.form-error li {
  margin-top: 0;
  padding-top: 0;
}

/****************************** Custom  Alert Icons ***************************/

.materialert.default:before {
  font-family: "Material Icons";
  font-weight: 900;
  content: "\e86c";
  margin-right: 10px;
}

.materialert.success:before {
  font-family: "Material Icons";
  font-weight: 900;
  content: "\e92d";
  margin-right: 10px;
}

.materialert.error:before {
  font-family: "Material Icons";
  font-weight: 900;
  content: "\e001";
  margin-right: 10px;
}

.materialert.warning:before {
  font-family: "Material Icons";
  font-weight: 900;
  content: "\e001";
  margin-right: 10px;
}

.materialert.danger:before {
  font-family: "Material Icons";
  font-weight: 900;
  content: "\e001";
  margin-right: 10px;
}

/* tabs fix for auto height when adding content that 
  exceeds 400px, as the tabs are styled by carousel css */
.tabs-content.carousel .carousel-item .tab {
  height: auto;
}

.row.flashes {
  margin: 0;
}

/***************************** Custom Modal Syling **************************/
.modal-title {
  font-size: 18px;
  font-weight: 700;
}

.modal.bottom-sheet {
  max-height: 100% !important;
}

/*************************** Custom Margin Classes **************************/
.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-90 {
  margin-top: 90px;
}

.mb-1em {
  margin-bottom: 1em;
}

.mr-20 {
  margin-right: 20px;
}

.pr-10 {
  padding-right: 10px;
}

/*********************** Emphasis class custom styles ***********************/

.emph-ital {
  font-style: italic;
}

/* text style clases */
.emph-red {
  color: rgba(198, 40, 40, 0.8);
}

.emph-green {
  color: #689f38;
}

.emph-highlight {
  color: #9e9e9e;
}

.emph-black {
  color: #000000;
}

.emph-dark-teal {
  color: #00695c;
  font-style: italic;
}

.emph-yellow {
  color: #fffde7;
}

/**************************** DIVIDER ARROW DOWN* ***************************/


.custom-divider {
  position: relative;
  margin: 40px 0;
  height: 1px;
}

.div-gradient:before {
  content: "";
  position: absolute;
  top: 0;
  left: 25%;
  right: 25%;
  width: 50%;
  height: 1px;
  background-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(rgb(48, 49, 51)), to(transparent));
  background-image: -o-linear-gradient(left, transparent, rgb(48, 49, 51), transparent);
  background-image: linear-gradient(to right, transparent, rgb(48, 49, 51), transparent);
}

.div-arrow-down:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -7px;
  left: calc(50% - 7px);
  width: 14px;
  height: 14px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: white;
  border-bottom: 1px solid rgb(48, 49, 51);
  border-right: 1px solid rgb(48, 49, 51);
}


/**************************** MATERIAL ICON SIZES ***************************/
.material-icons.md-12 {
  font-size: 12px;
}

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

.flower:before {
  font-family: "Material Icons";
  content: "\e3e3";
}

.error:before {
  font-family: "Material Icons";
  content: "\e001";
}

.list:before {
  font-family: "Material Icons";
  content: "\e896";
}

/************** NAVBAR DROPDOWN FIX FOR BORDER ISSUE IN CHROME ****************/
li a.dropdown-trigger:focus {
  outline: none;
}


/* 
================================== Media Queries =============================== 
*/

/* Small Screens */
@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }

  /* fix for logo width issue */
  nav .brand-logo {
    left: calc(50% - 20px);
    /* left: calc(25%); */
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 1em;
  }

  .caption .slider-heading {
    display: block;
    font-size: 3.2em;
  }

  .caption .slider-subheading {
    display: block;
    font-size: 1.2em;
  }

  .parallax-container {
    color: white;
  }

  ul.share-buttons {
    margin-right: 5px;
  }

  .social-icon {
    font-size: 10px;
    margin-right: 2px;
  }

  div.footer-copyright .container {
    width: auto;
  }

  .materialert {
    font-size: 14px;
  }

  .modal .modal-content {
    padding: 10px 20px;
  }

  .email-send {
    padding: 0 5px;
    margin-top: 10px;
  }

  .email-delete {
    padding: 0 5px;
    margin-top: 10px;
  }

  .smt-10 {
    margin-top: 10px;
  }
}

/* Medium Screens */
@media only screen and (min-width : 600px) {
  .caption .slider-heading {
    display: block;
    font-size: 3.2em;
  }

  .caption .slider-subheading {
    display: block;
    font-size: 2.4em;
  }
}

/*  Large Screens */
@media only screen and (max-width : 992px) {
  .parallax-container .section {
    height: auto;
  }

  #index-banner .section {
    top: 10%;
  }

  #main-block {
    min-height: calc(100vh - 593px);
  }
}

/* Extra Large Screens */
@media only screen and (min-width : 1200px) {
  .caption .slider-heading {
    display: block;
    font-size: 4.2em;
  }

  .caption .slider-subheading {
    display: block;
    font-size: 2.4em;
  }
}

/* This is not needed if I don't use tabs */
/* materializecss tabs fix */
@media (max-width: 1900px) {
  .tabs {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
  }
}