#main-block {
  min-height: 45vh;
}

div.wrapper {
  min-height: calc(100vh - 100px);
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #ee6e73;
}

/*
================================================================================
========================== Materialize Parallax Styling ========================
================================================================================
*/

.parallax-container {
  min-height: 200px;
  max-height:auto;
  line-height: 0;
  height: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
  .parallax-container .section {
    width: 100%;
  }

/* Style parallax images */
 .parallax img 
 {
 	 background-repeat: no-repeat;
 	 background-size: cover;
 }

 .parallax-container
 {
 	color: black;
 }

/*
================================================================================
=========================== Materialize Navbar Styling =========================
================================================================================
*/

 nav a.button-collapse {
 	color:black;
 }

 .purple.lighten-1 {
  background-color: #CC0066 !important;
}

.teal-text.text-lighten-2 {
  color: #CC0066 !important;
}

.share-buttons {
	list-style: none;
}

.share-buttons li {
	display: inline;
}
nav {
	overflow: visible;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

/***************************** Social Icon styling ****************************/

.icon-block {
  padding: 0 15px;
}

.social-icon {
  margin-right: 10px;
}

.social-icon:hover {
  color: rgb(228, 90, 22);
}

/******************************* Footer Styling *******************************/

footer.page-footer {
  margin: 0;
}

/*
================================================================================
======================= Materialize Collapsible  Styling =======================
================================================================================
*/

.collapsible {
  border: 1px solid #c1ad0f;
}

.collapsible-header {
  color: rgb(245, 243, 243);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.062);
  background-color: #aa8d30;
  border: 1px solid #c1ad0f;
  line-height: 1.2rem;
}

.collapsible .row {
  margin-bottom: 0;
}

.collapsible-heading {
  font-size: 1.2em;
  font-weight: 400;
  vertical-align: middle;;
}

/************************* Collapsible Rotating Caret  ************************/

li .collapsible-header {
  justify-content: space-between;
}

li .collapsible-header .caret {
  color: #fff;
  margin-right: 0;
  transition: transform 0.2s ease;
}

/* li.active .collapsible-header {
  background-color: lightcoral;
  color: white;
} */

li.active .collapsible-header .caret {
  color: #ffab91;
  transform: rotate(-180deg);
  transform-origin: 0.6em 0.5em;
}

/*
================================================================================
========================= Materialize Collection Styling =======================
================================================================================
*/

.collection a.collection-item {
  display: block;
  -webkit-transition: .25s;
  transition: .25s;
  color: #051a12;
}

.collection .collection-item {
  background-color: #f0deb9;;
  line-height: 1.5rem;
  padding: 10px 20px;
  margin: 0;
  border-bottom: 1px solid #63a715;
}

.collection a.collection-item:not(.active):hover {
  background-color: #ecf0c4;
}

.collection .collection-item {
  display: block;
  -webkit-transition: .25s;
  transition: .25s;
  color: #051a12;
}

.collection li:hover {
  background-color: #ecf0c4;
}

/********************************** Font Styling ******************************/

.px-dark-red {
  color: #602c25
}

.text-shadow {
  text-shadow: 1px 2px #000000;
}

.sidenav-trigger i {
  color: #000000;
}

.brand-logo {
    margin-left: 20px;
}

/* 
================================================================================
================================ Material Alerts ===============================
================================================================================ 
*/

.materialert{
  position: relative;
  min-width: 150px;
  padding: 15px;
  margin: 20px auto 15px;
  font-size: 22px;
  /* margin-bottom: 20px;
  margin-top: 15px; */
  border: 1px solid transparent;
  border-radius: 4px;
  transition: all 0.1s linear;
  webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
}

.materialert .icons{
  margin-right: 10px;
}

.materialert .close-alert{
  -webkit-appearance: none;
  border: 0; 
  cursor: pointer;
  color: inherit;
  background: 0 0;
  font-size: 22px;
  line-height: 1;
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .7);
  filter: alpha(opacity=40);
  margin-bottom: -5px;
  position: absolute;
  top: 14px;
  right: 5px;
}

/**************************** Custom Alert Messages ***************************/

.materialert.info{
  background-color: rgba(3,155,229,0.8);
  color: #fff;
}
.materialert.success{
  background-color: rgba(67,160,71,0.8);
  color: #fff;
}
.materialert.error{
  background-color: rgba(198, 40, 40,0.8);
  color: #fff;
}
.materialert.danger{
  background-color: rgba(198, 40, 40,0.8);
  color: #fff;
}
.materialert.warning{
  background-color: rgba(251,192,45,0.8);
  color: #fff;
}

/****************************** Custom  Alert Icons ***************************/

.materialert.success:before {
  font-family: "Material Icons"; font-weight: 900; content: "\e92d";
  margin-right: 10px;
}
.materialert.error:before {
  font-family: "Material Icons"; font-weight: 900; content: "\e001";
  margin-right: 10px;
}
.materialert.warning:before {
  font-family: "Material Icons"; font-weight: 900; content: "\e001";
  margin-right: 10px;
}
.materialert.danger:before {
  font-family: "Material Icons"; font-weight: 900; content: "\e001";
  margin-right: 10px;
}

  /* tabs fix for auto height when adding content that 
  exceeds 400px, as the tabs are styled by carousel css */
  .tabs-content.carousel .carousel-item .tab { height:auto; }


  /***************************** Custom Modal Syling **************************/
  .modal-title {
    font-size: 18px;
    font-weight: 700;
  }

  .modal.bottom-sheet {
    max-height: 100% !important;
  }

  /*************************** Custom Margin Classes **************************/
  .mt-5 {
    margin-top: 5px;
  }

  .mt-10 {
    margin-top: 10px;
  }

  .mt-90 {
    margin-top: 90px;
  }

  .mb-1em {
    margin-bottom: 1em;
  }

  .pr-10 {
    padding-right: 10px;
  }

  /*********************** Emphasis class custom styles ***********************/
  .emph-ital {
    font-style: italic;
  }

  /* text style clases */
  .emph-red {
    color:rgba(198, 40, 40,0.8);
  }

  .emph-green {
    color: #689f38 ;
  }

  .emph-dark-teal {
    color: #00695c;
    font-style: italic;
  }

  /**************************** MATERIAL ICON SIZES ***************************/
.material-icons.md-12 { font-size: 12px; }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.flower:before {
  font-family: "Material Icons";
  content: "\e3e3";
}
.error:before {
  font-family: "Material Icons";
  content: "\e001";
}

.list:before {
  font-family: "Material Icons";
  content: "\e896";
}

/************** NAVBAR DROPDOWN FIX FOR BORDER ISSUE IN CHROME ****************/
li a.dropdown-trigger:focus {
  outline: none;
}


/* 
================================== Media Queries =============================== 
*/

/* Small Screens */
@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
  /* fix for logo width issue */
  nav .brand-logo {
    left: calc(50% - 20px);
    transform: translateX(-50%);
    font-size: 1.8em;
  }
  .caption .slider-heading {
    display: block;
    font-size: 3.2em;
  }
  .caption .slider-subheading {
    display: block;
    font-size: 1.2em;
  }
  .parallax-container {
    color: white;
  }
}

/* Medium Screens */
@media only screen and (min-width : 600px) {
  .caption .slider-heading {
    display: block;
    /* font-size: 2.8em; */
  }
  .caption .slider-subheading {
    display: block;
    font-size: 1.8em;
  }
}

/*  Large Screens */
@media only screen and (max-width : 992px) {
  .parallax-container .section {
    height: auto;
    /* position: absolute; */
    /* top: 40%; */
  }
  #index-banner .section {
    top: 10%;
  }
  #main-block {
    min-height: calc(100vh - 593px);
}
}

/* Extra Large Screens */
@media only screen and (min-width : 1200px) {
  .caption .slider-heading {
    display: block;
    font-size: 4.2em;
  }
  .caption .slider-subheading {
    display: block;
    font-size: 2.4em;
  }
}

/* This is not needed if I don't use tabs */
/* materializecss tabs fix */
@media (max-width: 1900px) {
  .tabs {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}
