{% extends "base.html" %}
{% block content %}
  <div class="container">
    <div class="row">
      <!-- <div class="card-panel z-depth-2"> -->
        <div class="row">
          <!-- <div class="col s12"> -->
            <!-- <h3 class="center">Page not found</h3> -->

            <img class="responsive-img"  src="{{url_for('static', filename='images/four-o-four.jpg')}}">
            <!-- <h1 class="center">Page Not Found</h1>
            <p>What you were looking for is just not there.</p> -->
            <!-- <h3 class="center">Page not found</h3> -->
            <h4 class="center"><a href="{{ url_for('home') }}">Back home.</a></h4>

          </div> <!-- end classless div-->
        <!-- </div> -->
      <!-- </div> -->
    </div>
  </div>
{% endblock %}