{% extends "base.html" %}
{% block content %}

<div class="container">
  <h3 class="teal-text text-darken-2 center-align">Add Event</h3>
  <div class="row">
    <form class="col s12" method="POST" action="{{ url_for('add_event') }}">
      <!-- select event category  -->
      <div class="row" id="style-selects">
        <div class="input-field col s12 m6" >
          <i class="fas fa-folder-open prefix teal-text text-darken-2"></i>
          <select id="add_event_category" name="add_event_category" class="validate" onchange="javascript:handleSelect(this)" required>
            <option value="" disabled selected>Choose Category</option>
            <!-- Add option for user to link directly to the add category page -->
            <option value="" data-url="{{url_for('add_category')}}">Add Category</option>
            {% for category in categories %}
            <option value="{{ category.category }}">{{- category.category }}</option>
            {% endfor %}
          </select>
          <label for="add_event_category">Event Category</label>
          <span class="helper-text" data-error="Please select or create a related category for the event" data-success="Correct">Required</span>
        </div>
        <!-- select plant name -->
        <div class="input-field col s12 m6">
          <i class="fas fa-leaf prefix teal-text text-darken-2"></i>
          <select id="add_event_plant_id" name="add_event_plant_id" class="validate" onchange="javascript:handleSelect(this)" required>
            <option value="" disabled selected>Choose Plant</option>
            <!-- Add option for user to link directly to the add plant page -->
            <option value="" data-url="{{url_for('add_plant')}}">Add Plant</option>
            {% for plant in plants %}
            <!-- Here the plant ObjectId is used in value as pseudo foreign key -->
            <option value="{{ plant._id }}">{{- plant.name }}</option>
            {% endfor %}
          </select>
          <label for="add_event_plant_id">Plant Name</label>
          <span class="helper-text" data-error="Please select or create a related plant for the event" data-success="Correct">Required</span>
        </div>
      </div>
      <!-- event name -->
      <div class="row">
        <div class="input-field col s12">
          <i class="fas fa-pencil-alt prefix teal-text text-darken-2"></i>
          <input id="add_event_name" name="add_event_name" minlength="5" maxlength="40" type="text" class="count-text validate"
            data-length="40" pattern="^[a-zA-Z0-9 \-äöüÄÖÜß]{5,40}$" required>
          <label for="add_event_name">Event Name</label>
          <span class="helper-text" data-error="5-40 characters" data-success="Correct">Required</span>
        </div>
      </div>
      <!--  event date -->
      <div class="row">
        <div class="input-field col s12 m6">
          <i class="fas fa-calendar-alt prefix teal-text text-darken-2"></i>
          <input id="add_occurs_at" name="add_occurs_at" type="text" class="datepicker validate" required>
          <label for="add_occurs_at">Event Date</label>
          <span class="helper-text" data-error="Please select from the datepicker" data-success="Correct">Required</span>
        </div>
        <!-- event repeat cycle -->
        <div class="input-field col s12 m6">
          <i class="far fa-clock prefix teal-text text-darken-2"></i>
          <input id="add_event_repeats" name="add_event_repeats" placeholder="Daily, 2/3/Weekly, 2/3/Monthly, Yearly" type="text"
            class="count-text validate" minlength="5" maxlength="30" pattern="^[a-zA-Z0-9 \-äöüÄÖÜß]{5,30}$" data-length="30">
          <label for="add_event_repeats">Event Repeats</label>
          <span class="helper-text" data-error="5-30 characters" data-success="Correct">Optional</span>
        </div>
      </div>
      <!-- event note -->
      <div class="row">
        <div class="input-field col s12">
          <i class="fas fa-align-left prefix teal-text text-darken-2"></i>
          <textarea id="add_event_notes" name="add_event_notes" minlength="5" maxlength="200" class="materialize-textarea validate"
            pattern="^[a-zA-Z0-9 \n\r\t\.'’,;()?/!-äöüÄÖÜß]{5,200}$" data-length="200"></textarea>
          <label for="add_event_notes">Event Notes</label>
          <span class="helper-text" data-error="5-200 characters, standard punctuation allowed." data-success="Correct">Optional</span>
        </div>
      </div>
      <!-- submit button -->
      <div class="row">
        <div class="col s12 center-align">
          <button type="submit" class="btn-small blue darken-2 teal-text text-lighten-5">
            Add Event <i class="fas fa-plus-square right"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}