{% extends "base.html" %}
{% block content %}

<div class="container">
  <h3 class="teal-text text-darken-2 center-align">New Category</h3>
  <div class="row">
    <form class="col s12" method="POST" action="{{ url_for('add_category') }}">
      <!-- add new category -->
      <div class="row">
        <div class="input-field col s12">
          <i class="fas fa-folder-open prefix teal-text text-darken-2"></i>
          <input id="add_category" name="add_category" minlength="3" maxlength="20" type="text" class="count-text validate"
            data-length="20" data-error='Input should be 3-20 letters, spaces and hyphen allowed.' pattern="^[a-zA-Z0-9 \-äöüÄÖÜß]{3,20}$" required> 
          <label for="add_category">New Event Category</label>
          <span class="helper-text" data-error="3-20 characters" data-success="Correct"></span>
        </div>
      </div>
      <!-- submit button -->
      <div class="row">
        <div class="col s12 center-align">
          <button type="submit" class="btn-small blue darken-2 teal-text text-lighten-5 btn-edit">
            Add Category <i class="fas fa-plus-square right"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
  <section>
    <h3>Event Categories</h3>
    <ul class="collection">
      {% for category in categories %}

        <li class="collection-item">
          <div>{{ loop.index}}:
            {{ category.category.capitalize() }}
            <!-- Hide edit button from admin user -->
            {% if category.created_by == session["user"] %}
              <a href="{{ url_for('edit_category', category_id=category._id) }}"
                class="secondary-content indigo-text darken-4-text edit-link">Edit
                <i class="fas fa-edit"></i>
              </a>
            {% endif %}
            <span class="secondary-content mr-20"><strong class="emph-dark-teal hide-on-small-only">
                Created by:</strong> <span class="emph-ital emph-black">
                {{ category.created_by }}</span></span>
          </div>
        </li>
      {% endfor %}
    </ul>
  </section>
</div>
{% endblock %}