{% extends "base.html" %}
{% block content %}

<div class="container">

  <h3 class="teal-text text-darken-2 center-align">Add Plant</h3>

  <div class="row">
    <form class="col s12" method="POST" action="{{ url_for('add_plant') }}">
      <!-- add plant type / plant name -->
      <div class="row">
        <div class="input-field col s12 m6">
          <i class="fas fa-leaf prefix teal-text text-darken-2"></i>
          <input id="add_plant_type" name="add_plant_type" minlength="3" maxlength="30" type="text"
            class="count-text validate" data-length="30" pattern="^[a-zA-Z0-9 \-äöüÄÖÜß]{3,30}$" required>
          <label for="add_plant_type">Plant Type</label>
          <span class="helper-text" data-error="3-30 characters" data-success="Correct">Required</span>
        </div>
        <div class="input-field col s12 m6">
          <i class="fas fa-leaf prefix teal-text text-darken-2"></i>
          <input id="add_plant_name" name="add_plant_name" minlength="3" maxlength="30" type="text"
            class="count-text validate" data-length="30" pattern="^[a-zA-Z0-9 \-äöüÄÖÜß]{3,30}$" required>
          <label for="add_plant_name">Plant Name</label>
          <span class="helper-text" data-error="3-30 characters" data-success="Correct">Required</span>
        </div>
      </div>
      <!--  sow_at / plant_at -->
      <div class="row">
        <div class="input-field col s12 m6">
          <i class="fas fa-calendar-alt prefix teal-text text-darken-2"></i>
          <input id="add_sow_at" name="add_sow_at" type="text" class="datepicker validate">
          <label for="add_sow_at">Sowing Time</label>
          <span class="helper-text" data-error="Please select from the datepicker"
            data-success="Correct">Optional</span>
        </div>
        <div class="input-field col s12 m6">
          <i class="fas fa-calendar-alt prefix teal-text text-darken-2"></i>
          <input id="add_plant_at" name="add_plant_at" type="text" class="datepicker validate">
          <label for="add_plant_at">Planting Time</label>
          <span class="helper-text" data-error="Please select from the datepicker"
            data-success="Correct">Optional</span>
        </div>
      </div>
      <!-- harvest from / harvest to -->
      <div class="row">
        <div class="input-field col s12 m6">
          <i class="fas fa-calendar-alt prefix teal-text text-darken-2"></i>
          <input id="add_harvest_from" name="add_harvest_from" type="text" class="datepicker validate">
          <label for="add_harvest_from">Harvest From</label>
          <span class="helper-text" data-error="Please select from the datepicker"
            data-success="Correct">Optional</span>
        </div>
        <div class="input-field col s12 m6">
          <i class="fas fa-calendar-alt prefix teal-text text-darken-2"></i>
          <input id="add_harvest_to" name="add_harvest_to" type="text" class="datepicker validate">
          <label for="add_harvest_to">Harvest To</label>
          <span class="helper-text" data-error="Please select from the datepicker"
            data-success="Correct">Optional</span>
        </div>
      </div>
      <!-- fertilise  / fertiliser  -->
      <div class="row">
        <div class="input-field col s12 m6">
          <i class="fas fa-leaf prefix teal-text text-darken-2"></i>
          <input id="add_fertilise" name="add_fertilise" minlength="5" maxlength="30" type="text"
            class="count-text validate" pattern="^[a-zA-Z0-9 \-äöüÄÖÜß]{5,30}$" data-length="30">
          <label for="add_fertilise">Fertilise Frequency</label>
          <span class="helper-text" data-error="5-30 characters" data-success="Correct">Optional</span>
        </div>
        <div class="input-field col s12 m6">
          <i class="fas fa-leaf prefix teal-text text-darken-2"></i>
          <input id="add_fertiliser" name="add_fertiliser" minlength="5" maxlength="30" type="text"
            class="count-text validate" pattern="^[a-zA-Z0-9 \-äöüÄÖÜß]{5,30}$" data-length="30">
          <label for="add_fertiliser">Fertiliser Type</label>
          <span class="helper-text" data-error="5-30 characters" data-success="Correct">Optional</span>
        </div>
      </div>
      <!-- add plant note -->
      <div class="row">
        <div class="input-field col s12">
          <i class="fas fa-align-left prefix teal-text text-darken-2"></i>
          <textarea id="add_plant_notes" name="add_plant_notes" minlength="5" maxlength="200"
            class="materialize-textarea validate" pattern="^[a-zA-Z0-9 \n\r\t\.'’,;()?/!-äöüÄÖÜß]{5,200}$"
            data-length="200"></textarea>
          <label for="add_plant_notes">Plant Notes</label>
          <span class="helper-text" data-error="5-200 characters, standard punctuation allowed."
            data-success="Correct">Optional</span>
        </div>
      </div>
      <!-- submit button -->
      <div class="row">
        <div class="col s12 center-align">
          <button type="submit" class="btn-small blue darken-2 teal-text text-lighten-5">
            Add Plant <i class="fas fa-plus-square right"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}