<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <title>Garden Journel</title>

    <!-- CSS  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/style.css') }}" type="text/css" rel="stylesheet" media="screen,projection" />
    {% block styles %}
    {% endblock%}
</head>

<body>
    <div class="wrapper">

    <header>

        <!-- main navbar -->
        <div id="navbar" class="navbar-fixed scrollspy">
            <nav class="white">
                <ul id="dropdown1" class="dropdown-content">
                    <li><a href="{{ url_for('add_event') }}">Event</a></li>
                    <li class="divider"></li>
                    <li><a href="{{ url_for('add_plant') }}">Plant</a></li>
                    <li class="divider"></li>
                    <li><a href="{{ url_for('add_category') }}">Category</a></li>
                </ul>
                <div class="nav-wrapper">

                    <a href="{{ url_for('home') }}" class="brand-logo">{% if session.user %}My Garden Almanac{% else %}Your Garden Almanac{% endif %}</a>
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fas fa-bars"></i></a>
                    <ul class="right hide-on-med-and-down">

                        <li><a class="head-link" href="{{ url_for('home') }}">Home</a></li>
                        <!-- <li><a class="head-link" href="#projects">Projects</a></li> -->
                        <!-- <li><a class="head-link" href="#aboutus">About</a></li> -->
                        {% if session.user %}
                            <li><a class="head-link" href="{{ url_for('get_garden_events') }}">Journal</a></li>
                            <li><a class="head-link" href="{{ url_for('get_plants') }}">Plants</a></li>
                            <!-- <li><a class="head-link" href="{{ url_for('add_event') }}">Add Event</a></li> -->
                            <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Create<i class="material-icons right">arrow_drop_down</i></a></li>
                            <!-- <li><a class="head-link" href="#">Add Plants</a></li> -->
                            <!-- <li><a class="head-link" href="#">Add Categories</a></li> -->
                            <li><a class="head-link" href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                            <li><a class="head-link" href="{{ url_for('logout') }}">Log Out</a></li>
                        {% else %}
                            <li><a class="head-link" href="{{ url_for('login') }}">Log In</a></li>
                            <li><a class="head-link" href="{{ url_for('register') }}">Register</a></li>
                        {% endif %}
                        <li><a class="head-link modal-trigger" href="#footer-modal">Contact</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        
        <!-- mobile offcanvas nav -->
        <ul class="sidenav" id="mobile-demo">
            <li><a class="head-link" href="{{ url_for('home') }}">Home</a></li>
            <!-- <li><a class="head-link" href="#projects">Projects</a></li> -->
            <!-- <li><a class="head-link" href="#aboutus">About</a></li> -->
            {% if session.user %}
                <li><a class="head-link" href="{{ url_for('get_garden_events') }}">Journal</a></li>
                <li><a class="head-link" href="{{ url_for('get_plants') }}">Plants</a></li>
                <li><a class="head-link" href="{{ url_for('add_event') }}">New Event</a></li>
                <li><a class="head-link" href="{{ url_for('add_plant') }}">New Plant</a></li>
                <li><a class="head-link" href="{{ url_for('add_category') }}">New Category</a></li>
                <li><a class="head-link" href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                <li><a class="head-link" href="{{ url_for('logout') }}">Log Out</a></li>
            {% else %}
                <li><a class="head-link" href="{{ url_for('login') }}">Log In</a></li>
                <li><a class="head-link" href="{{ url_for('register') }}">Register</a></li>
            {% endif %}
            <li><a class="head-link modal-trigger" href="#footer-modal">Contact</a></li>
        </ul>

    </header>

    <!-- slider -->
    <div class="slider">
        <ul class="slides">
            <li>
                <img src="{{url_for('static', filename='images/summer_1240x528_b.jpg')}}">
                <div class="caption center-align">
                    <h1 class="hide-on-small-only text-shadow">Garden Almanac</h1>
                    <h3 class="show-on-small hide-on-med-and-up text-shadow">Garden Almanac</h3>
                    <!-- <span class="slider-heading text-shadow">Spring</span> -->
                    <h4 class="slider-subheading light grey-text text-lighten-3 text-shadow">Spring: Action! Plant, nourish, enjoy!</h4>
                </div>
            </li>
            <li>
                <img src="{{url_for('static', filename='images/flowers_1240x528_b.jpg')}}">
                <div class="caption center-align text-shadow">
                    <h1 class="hide-on-small-only text-shadow">Garden Almanac</h1>
                    <h3 class="show-on-small hide-on-med-and-up text-shadow">Garden Almanac</h3>
                    <!-- <span class="slider-heading text-shadow">Summer</span> -->
                    <h4 class="slider-subheading light grey-text text-lighten-3 text-shadow">Summer: Tend to the gardens needs.</h4>
                </div>
            </li>
            <li>
                <img src="{{url_for('static', filename='images/autumn_1240x528_b.jpg')}}">
                <div class="caption center-align">
                    <h1 class="hide-on-small-only text-shadow">Garden Almanac</h1>
                    <h3 class="show-on-small hide-on-med-and-up text-shadow">Garden Almanac</h3>
                    <!-- <span class="slider-heading text-shadow">Autumn</span> -->
                    <h4 class="slider-subheading light grey-text text-lighten-3 text-shadow">Autumn: Prepare for the dormant season.</h4>
                </div>
            </li>
            <li>
                <img src="{{url_for('static', filename='images/winter_1240x528_b.jpg')}}">
                <div class="caption center-align">
                    <h1 class="hide-on-small-only text-shadow">Garden Almanac</h1>
                    <h3 class="show-on-small hide-on-med-and-up text-shadow">Garden Almanac</h3>
                    <!-- <span class="slider-heading text-shadow">Winter</span> -->
                    <h4 class="slider-subheading light grey-text text-lighten-3 text-shadow">Winter: Plan for the next seasons bounty. </h4>
                </div>
            </li>
        </ul>

    </div>
<!-- end slider -->


<section>
    <!-- flash messages - includes alert category-->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="container">
                    <div class="row flashes">
                        <!-- <div class="col s12 m12"> -->
                            <span class="materialert {{category}} center-align icon">{{ message }}</span>
                        <!-- </div> -->
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

</section>

<main id="main-block">
    {% block content %}
    {% endblock %}
</main>



     <!-- Modal Trigger -->

  <!-- Modal Structure -->
  <div id="footer-modal" class="modal bottom-sheet">
    <div class="modal-content">
      
        <!-- contact form section -->
    <div class="container section scrollspy" id="contactus">
        <div class="section">
            <br>
            <br>
            <h2>Contact Us</h2>

            <div class="row">

                <form class="col s12 m8">

                    <div class="row">
                        <div class="input-field col s6">
                            <input id="fname" name="fname" type="text" class="validate">
                            <label for="fname">First Name</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="lname" name="lname" type="text" class="validate">
                            <label for="lname">Last Name</label>
                        </div>
                    </div>
                    <!--row-->

                    <div class="row">
                        <div class="input-field col s12">
                            <input id="email" name="email" type="email" class="validate">
                            <label for="email">Your Email</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <textarea id="message" name="message" class="materialize-textarea"></textarea>
                            <label for="message">Your Message</label>
                        </div>
                    </div>


                    <div>
                        <a class="waves-effect waves-light btn purple lighten-1">Send Message<i
                                class="mdi-content-send right"></i></a>
                    </div>
                </form>

                <div class="col s12 m4">
                    <h4>Garden Almanac</h4>
                    <p>
                        This is a personal project as part of my studies in full stack development. 
                    </p>
                    <p>
                        It is by no means a finished product, and is a work in progress. Due to 
                        time constraints I am limited in scope for now as to the features that I can 
                        include.
                    </p>
                    <p>
                        I'm open to collaboration if your a developer with an iterest in 
                        contributing to improving it. Feel free to drop me a line.
                    </p>
                </div>


            </div>
        </div>
    </div>

    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
  </div>
</div>
    <!-- footer section -->
    <footer class="page-footer">

        <div class="footer-copyright">
            <div class="container">
                <p>Copyright © mygardenalmanac.com</p>
            </div>
            <ul class="share-buttons">
                <li><a href="https://github.com/daidensacha" target="_blank" title="GitHub"
                        class="social-icon"><i class="fab fa-github fa-2x"></i></a></li>
                <li><a href="https://www.linkedin.com/in/daiden-sacha-8852b41a6/" target="_blank"
                        title="LinkedIn" class="social-icon"><i class="fab fa-linkedin-in fa-2x"></i></a></li>
                <li><a href="#footer-modal" title="Email"
                        class="social-icon modal-trigger"><i class="fas fa-envelope fa-2x"></i></a></li>
            </ul>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    {% block scripts %}
    {% endblock%}
</body>

</html>