{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="row mt-90">
    <div class="row">
      <div class="">
        <h3 class="center">Update {{ user["firstname"] }}'s Profile</h3>
        <div class="row">
          <form class="" method="POST" action="{{ url_for('edit_profile', user_id=existing_user._id) }}">
            <div class="input-field col s12 m6">
              <i class="fas fa-calendar-alt prefix"></i>
              <input id="edit_profile_joined" name="edit_profile_joined" type="text" value="{{ existing_user.registered.strftime('%d %B, %Y')}}"
                disabled>
              <label for="edit_profile_joined">Joined</label>
            </div>
            <div class="input-field col s12 m6">
              <i class="fas fa-user-cog prefix"></i>
              <input id="edit_profile_username" name="edit_profile_username" type="text" minlength="5" maxlength="15"
                value="{{ existing_user.username }}" pattern="^[a-zA-Z0-9]{5,15}$" disabled>
              <label for="edit_profile_username">Username</label>
            </div>
            <div class="input-field col s12 m6">
              <i class="fas fa-user-plus prefix"></i>
              <input id="edit_profile_firstname" name="edit_profile_firstname" type="text" minlength="2" maxlength="15"
                value="{{ existing_user.firstname }}" pattern="^[a-zA-Z -äöüÄÖÜß]{2,15}$" class="count-text validate"
                data-length="15" required>
              <label for="edit_profile_firstname">First Name</label>
              <span class="helper-text" data-error="2-15 characters" data-success="Correct">Required</span>
            </div>
            <div class="input-field col s12 m6">
              <i class="fas fa-user-plus prefix"></i>
              <input id="edit_profile_lastname" name="edit_profile_lastname" type="text" minlength="2" maxlength="15"
                value="{{ existing_user.lastname }}" pattern="^[a-zA-Z -äöüÄÖÜß]{2,15}$" class="count-text validate"
                data-length="15" required>
              <label for="edit_profile_lastname">Last Name</label>
              <span class="helper-text" data-error="2-15 characters" data-success="Correct">Required</span>
            </div>
            <div class="input-field col s12 m12">
              <i class="fa fa-envelope prefix"></i>
              <input id="edit_profile_email" name="edit_profile_email" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                value="{{ existing_user.email }}" class="validate" required>
              <label for="edit_profile_email">Your Email</label>
              <span class="helper-text" data-error="A valid email is required" data-success="Correct">Required</span>
            </div>
            <div class="input-field col s12 m12">
              <i class="fa fa-unlock-alt prefix"></i>
              <input id="edit_profile_password" name="edit_profile_password" type="password" minlength="5" maxlength="15"
                pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
              <label for="old_password">Password</label>
              <span class="helper-text" data-error="Correct password is required" data-success="Correct">Enter Password to Validate</span>
            </div>
            <div class="col s12">
              <div class="row center-align">
                <button class="btn-small btn-edit-profile col s6 waves-effect waves-light" type="submit" name="action">Update
                  Information
                  <i class="fa fa-sign-in-alt right"></i>
                </button>
                <a href="{{ url_for('profile', username=session['user']) }}" class="btn-small btn-edit-profile col s6 blue-grey btn-close">
                  Cancel <i class="fas fa-times-circle right"></i>
                </a>
              </div>
            </div>
            <!-- <button class="btn waves-effect waves-light center col s12 m12" type="submit" name="action">Update
              Information
              <i class="fa fa-sign-in-alt right"></i>
            </button> -->
          </form>
        </div>
      </div> 
    </div>
  </div>
</div>
{% endblock %}