{% extends "base.html" %}
{% block content %}

<div class="container">

  <h3 class="teal-text text-darken-2 center-align">Edit Plant</h3>

  <div class="row">
    <form class="col s12" method="POST" action="{{ url_for('edit_plant', plant_id=plant._id ) }}">
      <!-- add plant type / plant name -->
      <div class="row">
        <div class="input-field col s12 m6">
          <i class="fas fa-leaf prefix teal-text text-darken-2"></i>
          <input id="type" name="type" minlength="4" maxlength="30" value="{{ plant.type}}" type="text"
            class="count-text validate" data-length="30" required>
          <label for="type">Plant Type</label>
          <span class="helper-text">Required</span>
        </div>
        <div class="input-field col s12 m6">
          <i class="fas fa-leaf prefix teal-text text-darken-2"></i>
          <input id="name" name="name" minlength="3" maxlength="30" value="{{ plant.name }}" type="text"
            class="count-text validate" data-length="30" required>
          <label for="name">Plant Name</label>
          <span class="helper-text">Required</span>
        </div>
      </div>
      <!--  sowing time / planting time -->
      <div class="row">
        <div class="input-field col s12 m6">
          <i class="fas fa-calendar-alt prefix teal-text text-darken-2"></i>
          {% if plant.sow_at == "" %}
            <input id="sow_at" name="sow_at" value="" type="text" class="datepicker validate">
          {% else %}
            <input id="sow_at" name="sow_at" value="{{ plant.sow_at.strftime('%B %d, %Y') }}" type="text"
              class="datepicker validate">
          {% endif %}
          <label for="sow_at">Sowing Time</label>
          <span class="helper-text">Optional</span>
        </div>
        <div class="input-field col s12 m6">
          <i class="fas fa-calendar-alt prefix teal-text text-darken-2"></i>
          {% if plant.plant_at == "" %}
            <input id="plant_at" name="plant_at" value="" type="text" class="datepicker validate">
          {% else %}
            <input id="plant_at" name="plant_at" value="{{ plant.plant_at.strftime('%B %d, %Y') }}" type="text"
              class="datepicker validate">
          {% endif %}
          <label for="plant_at">Planting Time</label>
          <span class="helper-text">Optional</span>
        </div>
      </div>
      <!-- harvest from / harvest to -->
      <div class="row">
        <div class="input-field col s12 m6">
          <i class="fas fa-calendar-alt prefix teal-text text-darken-2"></i>
          {% if plant.harvest_from == "" %}
            <input id="harvest_from" name="harvest_from" value="" type="text" class="datepicker validate">
          {% else %}
            <input id="harvest_from" name="harvest_from" value="{{ plant.harvest_from.strftime('%B %d, %Y') }}"
              type="text" class="datepicker validate">
          {% endif %}
          <label for="harvest_from">Harvest From</label>
          <span class="helper-text">Optional</span>
        </div>
        <div class="input-field col s12 m6">
          <i class="fas fa-calendar-alt prefix teal-text text-darken-2"></i>
          {% if plant.harvest_to == "" %}
            <input id="harvest_to" name="harvest_to" value="" type="text" class="datepicker validate">
          {% else %}
            <input id="harvest_to" name="harvest_to" value="{{ plant.harvest_to.strftime('%B %d, %Y') }}" type="text"
              class="datepicker validate">
          {% endif %}
          <label for="harvest_to">Harvest To</label>
          <span class="helper-text">Optional</span>
        </div>
      </div>
      <!-- fertilise frequesncy / fertiliser type -->
      <div class="row">
        <div class="input-field col s12 m6">
          <i class="fas fa-leaf prefix teal-text text-darken-2"></i>
          {% if plant.fertilise == "" %}
            <input id="fertilise" name="fertilise" minlength="5" maxlength="30" value="" type="text"
              class="count-text validate" data-length="30">
          {% else %}
            <input id="fertilise" name="fertilise" minlength="5" maxlength="30" value="{{ plant.fertilise}}" type="text"
              class="count-text validate" data-length="30">
          {% endif %}
          <label for="fertilise">Fertilise Frequency</label>
          <span class="helper-text">Optional</span>
        </div>
        <div class="input-field col s12 m6">
          <i class="fas fa-leaf prefix teal-text text-darken-2"></i>
          <input id="fertiliser" name="fertiliser" minlength="5" maxlength="30" value="{{ plant.fertiliser}}"
            type="text" class="count-text validate" data-length="30">
          <label for="fertiliser">Fertiliser Type</label>
          <span class="helper-text">Optional</span>
        </div>
      </div>
      <!-- add plant note -->
      <div class="row">
        <div class="input-field col s12">
          <i class="fas fa-align-left prefix teal-text text-darken-2"></i>
          <textarea id="notes" name="notes" minlength="5" maxlength="200" class="materialize-textarea validate"
            data-length="200">{{- plant.notes -}}</textarea>
          <label for="notes">Plant Notes</label>
          <span class="helper-text">Optional</span>
        </div>
      </div>
      <!-- submit button -->
      <div class="row">

        <div class="col s12 center-align">
          {% if session["user"] == plant.created_by %}
          <a href="#delete-plant-modal" class="btn-small red darken-4 modal-trigger btn-delete">
            Delete <i class="fas fa-times-circle right hide-on-small-only"></i>
          </a>
          {% endif %}
          <button type="submit" class="btn-small blue darken-2 teal-text text-lighten-5 btn-edit">
            Save <i class="fas fa-edit right hide-on-small-only"></i>
          </button>
          <a href="{{ url_for('get_plants') }}" class="btn-small blue-grey btn-close">
            Cancel <i class="fas fa-times-circle right hide-on-small-only"></i>
          </a>
        </div>
        <!-- Modal Structure -->
        <div id="delete-plant-modal" class="modal">
          <div class="modal-header">
            <p class="materialert danger">Deleting plant data is irreversable.</p>
          </div>
          <div class="modal-content">
            <p>Plants with related events cannot be deleted."<br>
              Are you sure you want to delete the "<strong class="emph-green">{{ plant.name }}</strong>"
              plant?</p>
          </div>
          <div class="modal-footer">
            <a href="{{ url_for('delete_plant', plant_id=plant._id) }}"
              class="waves-effect waves-light btn btn-small red darken-4 btn-delete">
              Delete <i class="fas fa-times-circle right"></i>
            </a>
            <a href="{{ url_for('get_plants') }}" class="btn-small blue-grey btn-close">
              Cancel <i class="fas fa-times-circle right"></i>
            </a>
          </div>
        </div>
        <!-- end modal -->
      </div>
    </form>
  </div>
</div>
{% endblock %}