{% extends "base.html" %}
{% block content %}
  <div class="container">
    <div class="row mt-90">
      <!-- <div class="card-panel z-depth-2"> -->
        <div class="row">
          <div class="">
            <h3 class="center">Update {{ existing_user.user_name }}'s Profile</h3>

            <div class="row">
    
              <form class="" method="POST" action="{{ url_for('edit_profile', user_id=existing_user._id) }}">
                <!-- <div class="row"> -->
                  <div class="input-field col s12 m6">
                    <i class="fas fa-calendar-alt prefix"></i>
                    <input id="joined" name="joined" type="text" 
                      value="{{ existing_user.user_joined.strftime('%d %B, %Y')}}" disabled>
                    <label for="joined">Joined</label>
                  </div>
                  <div class="input-field col s12 m6">
                    <i class="fas fa-user-cog prefix"></i>
                    <input id="username" name="username" type="text" minlength="5" maxlength="15"
                      value="{{ existing_user.user_name }}" pattern="^[a-zA-Z0-9]{5,15}$" disabled>
                    <label for="username">Username</label>
                  </div>

                  <div class="input-field col s12 m6">
                    <i class="fas fa-user-plus prefix"></i>
                    <input id="firstname" name="firstname" type="text" minlength="5" maxlength="15"
                    value="{{ existing_user.user_firstname }}" pattern="^[a-zA-Z0-9]{5,15}$" class="validate">
                    <label for="firstname">First Name</label>
                  </div>
    
                  <div class="input-field col s12 m6">
                    <i class="fas fa-user-plus prefix"></i>
                    <input id="lastname" name="lastname" type="text" minlength="5" maxlength="15"
                    value="{{ existing_user.user_lastname }}" pattern="^[a-zA-Z0-9]{5,15}$" class="validate">
                    <label for="lastname">Last Name</label>
                  </div>
    
                  <div class="input-field col s12 m12">
                    <i class="fa fa-envelope prefix"></i>
                    <input id="email" name="email" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                      value="{{ existing_user.user_email }}" class="validate" >
                    <label for="email">Your Email</label>
                  </div>
    
                  <div class="input-field col s12 m12">
                    <i class="fa fa-unlock-alt prefix"></i>
                    <input id="old_password" name="old_password" type="password" minlength="" maxlength=""
                      pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                    <label for="old_password">Password</label>
                  </div>
    
                <!-- </div> -->
                <button class="btn waves-effect waves-light center col s12 m12" type="submit" name="action">Update Information
                  <i class="fa fa-sign-in-alt right"></i>
                </button>
              </form>
    
            </div>
            <!--row-->

          </div> <!-- end classless div-->
        </div>
      <!-- </div> -->
    </div>
  </div>
{% endblock %}