{% extends "base.html" %}
{% block content %}

<!-- features section -->
<div class="container">
  <div class="section">
    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 l4">
        <div class="icon-block">
          <div class="center hide-on-small-only info-icon-med-up"><i class="fas fa-leaf"></i></div>
          <h3 class="center hide-on-small-only">Plants</h3>
          <div class="center show-on-small hide-on-med-and-up info-icon-sm"><i class="fas fa-leaf"></i></div>
          <h4 class="center show-on-small hide-on-med-and-up">Plants</h4>

          <p class="light flow-text">Add your plants with information about them that will help you each year. When to
            sow, plant, harvest, fertilise, and specific notes that will help you remember what your plants need. Each
            year, when the cycle turns again, you will be able to reference your notes from previous years. </p>
        </div>
      </div>
      <div class="col s12 l4">
        <div class="icon-block">
          <div class="center hide-on-small-only info-icon-med-up"><i class="far fa-calendar-alt"></i></div>
          <h3 class="center hide-on-small-only">Events</h3>
          <div class="center show-on-small hide-on-med-and-up info-icon-sm"><i class="far fa-calendar-alt"></i></div>
          <h4 class="center show-on-small hide-on-med-and-up">Events</h4>

          <p class="light flow-text">The events in your garden are cyclic. Each time they pass, you have the opportunity
            to learn, to improve so that you can get the best out of your garden. Log important dates, and events, like
            first and last frost, weather patterns, winter and summer solstice. </p>
        </div>
      </div>
      <div class="col s12 l4">
        <div class="icon-block">
          <div class="center hide-on-small-only info-icon-med-up"><i class="fas fa-book-open"></i></div>
          <h3 class="center hide-on-small-only">Almanac</h3>
          <div class="center show-on-small hide-on-med-and-up info-icon-sm"><i class="fas fa-book-open"></i></div>
          <h4 class="center show-on-small hide-on-med-and-up">Almanac</h4>

          <p class="light flow-text">This application is a place to create, edit and update information about your
            plants, and recurring events in your garden. It is your record of when and what works to understand your
            garden's needs better. We are a part of nature. We nourish it; it nourishes us.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- parallax 1 -->
<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <div class="col s12">
          <h4 class="header white-text mb-1em">Nature provides, today's seeds are tomorrow's harvest.</h4>
          <p class="white-text flow-text center">Year after year, season to season. Cycles in the garden repeat.</p>
          <p class="white-text flow-text center">Enter plants and events of your garden, refine your notes, and improve
            as you learn.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="{{url_for('static', filename='images/parallax_1a.jpg')}}" alt="parallax"></div>
</div>
<div class="container section scrollspy" id="projects">
  <div class="section">

    <br>
    <br>
    <h4 class="center">Our World</h4>
    <br>
    <div class="row">
      <div class="col s6">
        <img class="materialboxed responsive-img" alt="Nature Flowers" data-caption="A beautiful world."
          src="{{url_for('static', filename='images/blur-flowers-nature-471-827x550.jpg')}}">
      </div>
      <div class="col s6">
        <img class="materialboxed responsive-img" alt="Nature Flowers" data-caption="So many wonders."
          src="{{url_for('static', filename='images/1415117217bc45x.jpg')}}">
      </div>
    </div>
    <!--row-->
    <div class="row">
      <div class="col s6">
        <img class="materialboxed responsive-img" alt="Nature Flowers" data-caption="So much to see."
          src="{{url_for('static', filename='images/1397154567yttyy.jpg')}}">
      </div>
      <div class="col s6">
        <img class="materialboxed responsive-img" alt="Nature Flowers" data-caption="Blink and miss it"
          src="{{url_for('static', filename='images/1399827845b0i1k.jpg')}}">
      </div>
    </div>
    <!--row-->
  </div>
</div>

<!-- parralax 2 -->
<div class="parallax-container valign-wrapper section scrollspy" id="aboutus">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <div class="col s12">
          <h4 class="header white-text mb-1em">Gardeners Almanac</h4>
          <p class="white-text flow-text">The old ways of making jam, chutney, pickles,
            preserving vegetables and fruits are foreign to many in this age.
            But the ways are still there. This site is an almanac to record the
            events in your garden, to learn how to work with and get
            the most out of nature.
          </p>
          <p class="white-text flow-text">Register, start adding your plants,
            your recurring garden events and those notes become the
            ground for knowing more next year.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="{{url_for('static', filename='images/parallax_2.jpg')}}" alt="img"></div>

</div>


{% endblock %}