{% extends "base.html" %}
{% block content %}


<!-- features section -->
<div class="container">
    <div class="section">

        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 l4">
                <div class="icon-block">
                    <h3 class="center hide-on-small-only" style="color:#333"><i class="fas fa-leaf"></i></h3>
                    <h3 class="center hide-on-small-only">Plants</h3>
                    <h4 class="center show-on-small hide-on-med-and-up" style="color:#333"><i class="fas fa-leaf"></i></h4>
                    <h4 class="center show-on-small hide-on-med-and-up">Plants</h4>

                    <p class="light flow-text">Add your plants, with information about them that will help you 
                        each year. When to sow, plant, harvest, fertilise, and specic notes that 
                        will help you to remember what your plants need. Each year, when the cycle 
                        turns again, you will be able to reference your notes from previous years. </p>
                </div>
            </div>

            <div class="col s12 l4">
                <div class="icon-block">
                    <h3 class="center hide-on-small-only" style="color:#333"><i class="fas fa-seedling"></i></h3>
                    <h3 class="center hide-on-small-only">Events</h3>
                    <h4 class="center show-on-small hide-on-med-and-up" style="color:#333"><i class="fas fa-seedling"></i></h4>
                    <h4 class="center show-on-small hide-on-med-and-up">Events</h4>

                    <p class="light flow-text">The events in your garden are cyclic in nature, each time they 
                        pass, you have the opportunity to learn, to impove, so you can get the best 
                        out of your garden. Log important dates, and events, like first and last 
                    frost, weather patterns, winter and sommer solstice. </p>
                </div>
            </div>

            <div class="col s12 l4">
                <div class="icon-block">
                    <h3 class="center hide-on-small-only" style="color:#333"><i class="fas fa-globe"></i></h3>
                    <h3 class="center hide-on-small-only">Almanac</h3>
                    <h4 class="center show-on-small hide-on-med-and-up" style="color:#333"><i class="fas fa-globe"></i></h4>
                    <h4 class="center show-on-small hide-on-med-and-up">Almanac</h4>

                    <p class="light flow-text">This application is a place to create, edit and update 
                        information about your plants, and recurring events in your garden. It is 
                        your record of when, and what works, to better understand the needs
                        of your garden. We are a part of nature, we nourish it, it nourishes us.</p>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- parallax 1 -->
<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h4 class="header col s12 white-text mb-1em">Nature provides, todays seeds are tomorrows harvest.</h4>
                <p class="white-text flow-text">Year after year, season to season, cycles in the garden repeat.</p>
                <p class="white-text flow-text">Enter plants and events of your garden, refine your notes, and improve as you learn.</p>
                    
               
            </div>
        </div>
    </div>




    <!-- <div class="parallax"><img src="{{url_for('static', filename='images/parallax_img_1b.jpg')}}" alt="img"></div> -->
    <div class="parallax"><img src="{{url_for('static', filename='images/parallax_1a.jpg')}}" alt="parallax"></div>
</div>


<div class="container section scrollspy" id="projects">
    <div class="section">

        <br>
        <br>
      <h4 class="center">Our World</h4>
      <br>
      <div class="row">
          <div class="col s6">
          <img class="materialboxed responsive-img" data-caption="Description about the work or project"  src="{{url_for('static', filename='images/blur-flowers-nature-471-827x550.jpg')}}">
          </div> 
          <div class="col s6">
          <img class="materialboxed responsive-img" data-caption="Description about the work or project"  src="{{url_for('static', filename='images/1415117217bc45x.jpg')}}">
          </div> 
      </div><!--row-->
      
       <div class="row">
          <div class="col s6">
          <img class="materialboxed responsive-img" data-caption="Description about the work or project" src="{{url_for('static', filename='images/1397154567yttyy.jpg')}}">
          </div> 
          <div class="col s6">
          <img class="materialboxed responsive-img" data-caption="Description about the work or project" src="{{url_for('static', filename='images/1399827845b0i1k.jpg')}}">
          </div> 
      </div><!--row-->
      
      <!-- <div class="center">
          <a class="waves-effect waves-light btn purple lighten-1">View more</a>
      </div> -->


    </div>
</div>

<!-- parralax 2 -->
<div class="parallax-container valign-wrapper section scrollspy" id="aboutus">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="center row col s3">

                <h4 class="white-text">Gardeners Almanac</h4>
            </div>
            <div class="left row col s12 white-text flow-text">
                <p>The old ways, of making jam, chutney, pickles, preserving vegetables and fruits, are foreign to many in this age. But the ways are still there. This 
                    site is an almanac to record the events in your garden, to learn how to work with, and get the most out of nature. 
                </p>
                <p>Register, start adding your plants, your recurring garden events, and those notes become the ground for knowing more next year.</p>
            </div>

        </div>
    </div>
    <!-- <div class="parallax"><img src="{{url_for('static', filename='images/parallax_img_2b.jpg')}}" alt="img"></div> -->
    <div class="parallax"><img src="{{url_for('static', filename='images/parallax_2.jpg')}}" alt="img"></div>

</div>


{% endblock %}