{% extends "base.html" %}
{% block content %}
<div class="container">
  <section>

    <h3>My Events</h3>

    <div class="row">
      <form action="{{ url_for('search') }}" method="post" class="col s12">
        <!-- <div class="row valign-wrapper center-align"> -->
        <div class="row center-align">
          <div class="input-field col s12 m7 l8">
            <i class="fas fa-search prefix light-blue-text text-darken-4"></i>
            <input type="text" name="query" id="query" minlength="3" class="validate" required>
            <label for="query">Search Events</label>
            <span class="helper-text">search single (category, plant, month) or multiple (category plant, category
              month, month plant)</span>
          </div>
          <div class="col s12 m5 l4">
            <a href="{{ url_for('get_garden_events') }}" class="btn-small red darken-4 btn-delete">Reset</a>
            <button type="submit" class="btn-small blue darken-2 teal-text text-lighten-5 btn-edit">
              <i class="fas fa-search left hide-on-small-only"></i> Search
            </button>
          </div>
        </div>
      </form>
    </div>

    <ul class="collapsible">
      {% for garden_event in garden_events %}

      <li>
        <div class="collapsible-header">
          <div class="row" style="width: 100%;">
            <div class="col s1 mx-auto">
              <i class="caret fas fa-caret-down"></i>
            </div>
            <div class="col s11">
              <div class="row">
                <div class="col s12 m3">
                  <span class="collapsible-heading hide-on-large-only">
                    {{ garden_event.occurs_at.strftime("%b %d") }}</span>
                  <span class="collapsible-heading hide-on-med-and-down">
                    {{ garden_event.occurs_at.strftime("%B %d") }}</span>
                </div>
                <div class="col s12 m3">
                  <span class="collapsible-heading">{{ garden_event.category.capitalize() }}</span>
                </div>
                <div class="col s12 m6">
                  <span class="collapsible-heading">{{ garden_event.name.title() }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="collapsible-body">
            <!-- start collapsible body -->
            <!-- For loop to display garden events -->
            <div class="collection">
              <div class="row almanac-event">
                <!-- end event div wrapper -->
                <!-- begin plant data section -->
                <h6>{{ garden_event.name.title() }}</h6>
                <ul>
                  <li>
                    <i class="fas fa-list-ul"></i> The <span class="emph-red">event category</span> is
                    {% if garden_event.category == "" %}
                      <span class="emph-highlight">{{ "Create a category for this event" -}}
                    {% else %}
                      <span class="emph-green">{{ garden_event.category.capitalize() -}}
                    {% endif %}
                    </span>.
                  </li>
                  <li>
                    <i class="far fa-clock"></i> The <span class="emph-red">event repeats</span>
                    {% if garden_event.repeats == "" %}
                      <span class="emph-highlight">{{ "Enter How Often" -}}
                    {% else %}
                      <span class="emph-green">{{ garden_event.repeats -}}
                    {% endif %}
                    </span>.
                  </li>
                  <li class="mt-5"><i class="far fa-edit"></i>
                    <strong class="emph-dark-teal">Event notes:</strong>
                    {% if garden_event.notes == "" %}
                      <span class="emph-highlight">{{ "No Notes Recorded" -}}</span>
                    {% else %}
                      {{ garden_event.notes }}
                    {% endif %}
                  </li>
                </ul>
                <div class="row">
                  <ul>
                    <li class="mt-10"><strong class="emph-dark-teal">Created by:</strong>
                      <span class="emph-ital">{{garden_event.created_by }}</span></li>
                  </ul>
                </div>
                <div class="row right-align">
                  {% if session["user"] == garden_event.created_by %}
                    <a href="{{ url_for('edit_event', event_id=garden_event._id) }}"
                      class="waves-effect waves-green btn-small blue darken-2 btn-edit">
                      Edit Event <i class="fas fa-edit right"></i>
                    </a>
                  {% endif %}
                </div>
              </div> <!-- end event wrapper -->
              <br>
              <!--  center of the accordion content -->
              <div class="row almanac-plant"> <!-- start plant wrapper -->
                <br>
                <!-- begin plant data section -->
                <!-- Loop through plants and get plant data -->
                {% for plant in plants %}
                  <!-- If comparitor to match event and plant info -->
                  {% if garden_event.event_plant_id == plant._id %}

                  <!-- Plant title, and plant modal trigger link. Use loop.index 
                    to create unique id for the modal trigger href  -->
                  <h6>{{ plant.type.title() }}: {{ plant.name.title() }}</h6>
                  <div class="row">
                    <div class="row">
                      <ul>
                        {% if plant.sow_at == "" %}
                          <li><span class="material-icons flower md-12"></span>
                            <span class="emph-red">Sow</span>:<span class="emph-highlight"> Enter Sowing Date</span>.
                          </li>
                        {% else %}
                          <li><span class="material-icons flower md-12"></span>
                            <span class="emph-red">Sow</span> seeds
                            <span class="emph-green"> {{ plant.sow_at.strftime("%B %d") }}
                            </span> so they are ready for planting time.
                          </li>
                        {% endif %}
                        {% if plant.plant_at == "" %}
                          <li><span class="material-icons flower md-12"></span>
                            <span class="emph-red">Plant</span>:<span class="emph-highlight"> 
                              Enter Planting Date</span>.</li>
                        {% else %}
                          <li>
                            <span class="material-icons flower md-12"></span>
                            <span class="emph-red">Plant</span>
                            <span class="emph-green">{{ plant.plant_at.strftime("%B %d") }}
                            </span> at earliest.
                          </li>
                        {% endif%}
                        <li>
                          <span class="material-icons flower md-12"></span>
                          <span class="emph-red">Harvesting</span> season is from
                          {% if plant.harvest_from == "" %}
                            <span class="emph-highlight">{{ "Enter Date" -}}
                          {% else %}
                            <span class="emph-green">{{ plant.harvest_from.strftime("%B %d") }}
                          {% endif %}
                            </span> to
                          {% if plant.harvest_to == "" %}
                            <span class="emph-highlight">{{ "Enter Date" -}}
                          {% else %}
                            <span class="emph-green">{{ plant.harvest_to.strftime("%B %d") }}
                          {% endif %}
                            </span>
                        </li>
                        <li>
                          <span class="material-icons flower md-12"></span>
                          <span class="emph-red">Fertilise</span>
                          <!-- <span class="emph-green"> -->
                          {% if plant.fertilise == "" %}
                            <span class="emph-highlight">{{ "Enter Repeat" -}}
                          {% else %}
                            <span class="emph-green">{{ plant.fertilise}}
                          {% endif %}
                            </span> with

                          {% if plant.fertiliser == "" %}
                            <span class="emph-highlight">{{ "Enter Fertiliser" -}}
                          {% else %}
                            <span class="emph-green">{{ plant.fertiliser -}}
                          {% endif %}
                            </span>.
                        </li>
                      </ul>
                      <ul>
                        <li class="mt-5"><strong class="emph-dark-teal">
                            Plant Notes:</strong> {{ plant.notes.capitalize() }}
                        </li>
                      </ul>
                    </div>
                    <div class="row">
                      <ul>
                        <li class="mt-10"><strong class="emph-dark-teal">
                            Created by: </strong><span class="emph-ital">
                            {{ plant.created_by }}</span>
                        </li>
                      </ul>
                    </div>
                    <div class="row right-align">
                      {% if session["user"] == plant.created_by %}
                        <a href="{{ url_for('edit_plant', plant_id=plant._id) }}"
                          class="waves-effect waves-green btn-small blue darken-2 btn-edit">
                          Edit Plant <i class="fas fa-edit right"></i>
                        </a>
                      {% endif %}
                    </div>
                  </div>
                  {% endif %}
                {% endfor %}
              </div> <!-- end plant wrapper -->
            </div> <!-- end collection  -->
        </div>
      </li>
      {% endfor %}
    </ul>

  </section>
</div>
{% endblock %}