{% extends "base.html" %}
{% block content %}

<div class="container">
  <section>

    <h2>My Garden Events</h2>
    <!-- Materializecss list collection -->
    <div class="collection">

      <!-- For loop to display garden events -->
      {% for garden_event in garden_events %}
      <h6 class="collection-item">{{ garden_event.event_date.strftime("%B %d") }}</h6>

      <!-- Event title and plant event modal trigger link -->
      <a class="collection-item m-bot-10 waves-effect waves-light modal-trigger"
        href="#event_id_{{ loop.index }}">Event:
        {{ garden_event.event_name.title() }}</a>

      <!-- Loop through user_plants and get plant data -->
      {% for user_plant in user_plants %}

      <!-- If comparitor to match event and plant info -->
        {% if garden_event.plant_id == user_plant.plant_id %}

        <!-- Plant title, and plant modal trigger link. Use loop.index to create unique id for the modal trigger href  -->
        <a href="#plant_id_{{ loop.index}}" class="collection-item modal-trigger">
          {{ user_plant.plant_type.title() }}:
          {{ user_plant.plant_name.title() }}</a>
        {% endif %}

      <!-- Plant information modal -->
      <div id="plant_id_{{ loop.index }}" class="modal">
        <div class="modal-content">
          <h5><i class="fas fa-spa"></i> {{ user_plant.plant_type.capitalize() }} <i class="fas fa-grip-lines-vertical"></i> {{ user_plant.plant_name.title() }}</h5>
          <ul>
            <li><i class="far fa-edit"></i> {{ user_plant.plant_notes.capitalize() }}</li>
          </ul>
        </div>
        <div class="modal-footer">
          <a href="#" class="waves-effect waves-green btn-flat">Edit</a>
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
      </div>
      {% endfor %}

      <!-- Garden event modal -->
      <div id="event_id_{{ loop.index }}" class="modal">
        <div class="modal-content">
          <h5><i class="far fa-calendar-alt"></i> 
            {{ garden_event.event_date.strftime("%B %d") }} <i class="fas fa-grip-lines-vertical"></i>
            {{ garden_event.event_name.title() }}</h5>
          <!-- Loop through user_plants and get plant data -->
          {% for user_plant in user_plants %}

          <!-- If comparitor to match event and plant info -->
            {% if garden_event.plant_id == user_plant.plant_id %}

            <span class="modal-title">{{ user_plant.plant_name.title() }}</span>
            <ul>
              <li><i class="fas fa-list-ul"></i> {{ garden_event.event_category.capitalize() }}</li>
              <li><i class="far fa-clock"></i> {{ garden_event.event_repeats.capitalize() }}</li>
              <li><i class="far fa-edit"></i> {{ garden_event.event_notes.capitalize() }}</li>
              
            </ul>
            <h6></h6>
            {% endif %}
          {%endfor%}
          <p></p>
          <p></p>
        </div>

        <div class="modal-footer">
          <a href="#" class="waves-effect waves-green btn-flat">Edit</a>
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
      </div>

      {% endfor %}
    </div>
  </section>



  <!-- <div id="plant_id" class="modal">
        <div class="modal-content">
          <h4>plant_name</h4>
          <ul>
            <li>plant_location</li>
            <li>planted_date</li>
          </ul>
      
        </div>
      
        <div class="modal-footer">
          <a href="#" class="waves-effect waves-green btn-flat">Edit</a>
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
      </div> -->

</div>
{% endblock %}
