{% extends "base.html" %}
{% block content %}
<div class="container">
    <section>

        <h2>My Plants</h2>

        <div class="collection">

            {% for plant in plants %}
            <a href="#plant_id_{{ loop.index }}"
                class="collection-item m-bot-10 waves-effect waves-light modal-trigger">{{ loop.index}}:
                {{ plant.plant_type.capitalize() }} {{ plant.plant_name.title() }}</a>

            <div id="plant_id_{{ loop.index }}" class="modal">
                <div class="modal-content">
                    <h5><i class="fas fa-spa"></i> {{ plant.plant_type.capitalize() }} <i class="fas fa-grip-lines-vertical"></i> 
                        {{ plant.plant_name.title() }}</h5>
                    <ul>
                        <li><span class="material-icons flower md-12"></span> <span class="emph-red">Sow</span> seeds <span class="emph-green">{{ plant.plant_sowing.strftime("%B %d") }}</span> so they are ready for planting time.</li>
                        <li><span class="material-icons flower md-12"></span> <span class="emph-red">Plant</span> <span class="emph-green">{{ plant.plant_planting.strftime("%B %d") }}</span> at earliest.</li>
                        <li><span class="material-icons flower md-12"></span> <span class="emph-red">Harvesting</span> season is from <span class="emph-green">{{ plant.harvest_from.strftime("%B %d") }}</span> 
                        to <span class="emph-green">{{ plant.harvest_to.strftime("%B %d") }}</span></li>
                        <li><span class="material-icons flower md-12"></span> <span class="emph-red">Fertilise</span> <span class="emph-green">{{ plant.fertilise_frequency}}</span> with <span class="emph-green">{{ plant.fertiliser_type }}</span>. </li>

                    </ul>
                    
                    <div class="row">
                        
                            <ul>
                                <li><strong class="emph-dark-teal">Note:</strong> {{ plant.plant_note }}</li>
                            </ul>
                    </div>
                    

                </div>

                <div class="modal-footer">
                    <a href="#" class="waves-effect waves-green btn-flat">Edit</a>
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
                </div>
            </div>

            {% endfor %}

        </div>
    </section>
</div>
{% endblock %}