{% extends "base.html" %}
{% block content %}
  <div class="container">
    <div class="row mt-90">
      <!-- <div class="card-panel z-depth-2"> -->
        <h4 class="center">Register</h4>
        <div class="row">

          <form class="" method="POST" action="{{ url_for('register') }}">
              <div class="input-field col s12 m6">
                <i class="fas fa-user-plus prefix"></i>
                <input id="firstname" name="firstname" type="text" minlength="2" maxlength="15"
                  pattern="^[a-zA-Z0-9]{2,15}$" class="count-text validate" data-length="15" required>
                <label for="firstname">First Name</label>
                <span class="helper-text">Required</span>
              </div>
              <div class="input-field col s12 m6">
                <i class="fas fa-user-plus prefix"></i>
                <input id="lastname" name="lastname" type="text" minlength="2" maxlength="15"
                  pattern="^[a-zA-Z0-9]{2,15}$" class="count-text validate" data-length="15" required>
                <label for="lastname">Last Name</label>
                <span class="helper-text">Required</span>
              </div>
            <div class="input-field col s12 m12">
              <i class="fas fa-user-plus prefix"></i>
              <input id="username" name="username" type="text" minlength="5" maxlength="15"
                pattern="^[a-zA-Z0-9]{5,15}$" class="count-text validate" data-length="15" required>
              <label for="username">Username</label>
              <span class="helper-text">Required</span>
            </div>
            <div class="input-field col s12 m12">
              <i class="fa fa-envelope prefix"></i>
              <input id="email" name="email" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                class="validate" required>
              <label for="email">Your Email</label>
              <span class="helper-text">Required</span>
            </div>
            <div class="input-field col s12 m12">
              <i class="fa fa-unlock-alt prefix"></i>
              <input id="password" name="password" type="password" minlength="5" maxlength="15"
                pattern="^[a-zA-Z0-9]{5,15}$" class="count-text validate" data-length="15" required>
              <label for="password">Password</label>
              <span class="helper-text">Required</span>
            </div>
            <button class="btn waves-effect waves-light center col s12 m12" type="submit" name="action">Register
              <i class="fa fa-sign-in-alt right"></i>
            </button>
          </form>

        </div>
      <!-- </div> -->
    </div>
    <div class="row">
      <div class="col s12">
        <p class="center-align">
          Already registered?
          <a href="{{ url_for('login') }}" class="light-blue-text text-darken-4">Log in</a>
        </p>
      </div>
    </div>
  </div>
{% endblock %}